<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" verbose="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">src</directory>
      <directory suffix=".php">app</directory>
      <directory suffix=".php">plugins</directory>
    </include>
  </coverage>
  <!-- tests directories to run -->
  <testsuites>
    <testsuite name="test">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
  <!-- source to check coverage for -->
</phpunit>
